@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --primary-color: #93e49f;
  --secondary-color: #2f963e;
  --background-black: #1a1a1a;
  --info-color: #454545;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: var(--white);
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--background-black);
}

/* =========== HEADER SECTION START ========== */

.header {
  min-width: 19.6875rem;
  height: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 3px solid var(--primary-color);
  margin-top: 2.5rem;
}

.title {
  font-size: clamp(32px, 5vw, 64px);
}

.subtitle {
  font-size: clamp(10px, 1.5vw, 16px);
}

/* =========== HEADER SECTION END ========== */
